.dashboard-text {
    font-family: fantasy;
    font-size: 2rem;
}
.dashboard-desc-text {
    font-family: fantasy;
    font-size: 2rem;
    padding-bottom: 10px;
    padding-top: 10px;
}
.dashboard-dropdown {
    list-style-type: none; 
    color: #212529;
    background-color: #505050;
    font-weight: bold;
}