.dashboard-text {
    font-family: fantasy;
    font-size: 2rem;
}
.dashboard-desc-text {
    font-family: fantasy;
    font-size: 2rem;
    padding-bottom: 10px;
    padding-top: 10px;
}
.dashboard-dropdown {
    list-style-type: none; 
    color: #212529;
    background-color: #505050;
    font-weight: bold;
}
.dashboard-dropdown-list {
    padding-bottom: 0.5rem;
}

.dashboard-desc-text-smaller {
    font-family: fantasy;
    font-size: 1.5rem;
    padding-left: 0.5rem;
}

.dashboard-desc-text-smaller2 {
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
}
.dashboard-desc-text-smaller3 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}