.login-text {
    font-family: fantasy;
    width: 100%
}
  
.login-card {
    width: 500px;
}

.link-register-text,
.link-register-text:visited {
    color: #212529;
}

.link-register-text:hover {
    color: #6e42c1ee;
}
