.neon-button {
    --clr-neon: #6e42c1ee;
    --clr-bg: #fff9a2b2;
    font-size: 1.25rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

    margin-left: 5%;
    margin-top: 1.3%;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
}

.neon-icon {
    --clr-neon: #6e42c1ee;
    --clr-bg: #fff9a2b2;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
}
  
.neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}
  
.neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
}
  
.neon-button:hover,
.neon-button:focus,
.neon-icon:hover,
.neon-icon:focus {
    color: var(--clr-bg);
    text-shadow: none;
}
  
.neon-button:hover::before,
.neon-button:focus::before,
.neon-icon:hover::before,
.neon-icon:focus::before,
.neon-button:hover::after,
.neon-button:focus::after,
.neon-icon:hover::after,
.neon-icon:focus::after {
    opacity: 1;
}