html {
    width: 100%;
    min-height: 100%;
    overflow: auto;
    font-size: 15px;
}

#app {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background-size: 4em 4em;
    background-color: #505050 !important;
    opacity: 1;
    font-family: 'Share Tech Mono', monospace !important;
}

.app-content {
    padding-top: 70px;
    padding-bottom: 140px;
    height: 100%;
    max-height: inherit;
}

.main-box {
    background-color: #424242 !important;
    border: solid 1px purple;
    box-shadow: 0 0 20px 5px #6e42c1bd;
}

.title-text {
    font-family: fantasy;
    font-size: 500%;
}
